$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Theme colors
$primary-color: #ff5d02;
$secondary-color: #055bb1;

.calculator {
	background: #f1f2f3f4;
	opacity: 1;
	padding: 100px 0px;
}
.content_container {
	> .title {
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 2.5rem;
		font-weight: 600;
		@media screen and (min-width: $breakpoint-md) {
			font-size: 2rem;
		}
	}

	.calculator_container {
		display: grid;
		gap: 80px;
		margin-bottom: 50px;

		@media screen and (min-width: $breakpoint-md) {
			grid-template-columns: 1fr 1fr;
			gap: 100px;
		}

		@media screen and (min-width: $breakpoint-lg) {
			grid-template-columns: 1fr 1fr;
			gap: 150px;
		}

		.input_data_container {
			display: grid;
			gap: 25px;
			padding: 0 20px;
			@media screen and (min-width: $breakpoint-lg) {
				padding: 0;
			}

			.input_price_container {
				> .title {
					font-weight: 500;
				}

				input {
					background-color: #ffeae3;
					width: 100%;
					padding: 15px;
					border-radius: 8px;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					border: none;
					&:focus-visible {
						outline: none;
					}
				}

				.price_slider {
					padding: 0;
				}

				.credit_price_steps {
					display: flex;
					justify-content: space-between;
					font-size: 10px;
					font-weight: 400;
					color: #bdbdbd;
					@media screen and (min-width: $breakpoint-sm) {
						font-size: 12px;
					}
				}
			}

			.input_term_container {
				> .title {
					font-weight: 500;
				}

				.selected_term_period {
					background-color: #ffeae3;
					padding: 15px;
					border-radius: 8px;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.credit_term_slider {
					padding: 0;
				}
			}
		}

		.results_container {
			.price_container {
				display: grid;
				margin-bottom: 25px;
				gap: 10px;

				.title {
					font-weight: 500;
					font-size: 1.1rem;
					color: #090909;
				}

				.value {
					font-size: 1.5rem;
					font-weight: 600;
					@media screen and (min-width: $breakpoint-sm) {
						font-size: 2rem;
					}
				}
			}

			.term_container {
				display: flex;
				gap: 25px;
				margin-bottom: 25px;
				@media screen and (min-width: $breakpoint-lg) {
					gap: 50px;
				}

				.term {
					display: grid;
					gap: 10px;

					.title {
						font-weight: 500;
						font-size: 1.1rem;
						color: #090909;
					}

					.value {
						font-size: 1.5rem;
						font-weight: 600;
						@media screen and (min-width: $breakpoint-sm) {
							font-size: 2rem;
						}
					}
				}

				.commission {
					display: grid;
					gap: 10px;

					.title {
						font-weight: 500;
						font-size: 1.1rem;
						color: #090909;
					}

					.value {
						font-size: 1.5rem;
						font-weight: 600;
						@media screen and (min-width: $breakpoint-sm) {
							font-size: 2rem;
						}
					}
				}
			}

			.monthly_payment_cointainer {
				display: grid;
				gap: 10px;

				.title {
					font-weight: 500;
					font-size: 1.1rem;
					color: #090909;
				}

				.value {
					font-size: 1.5rem;
					font-weight: 600;
					@media screen and (min-width: $breakpoint-sm) {
						font-size: 2rem;
					}
				}
			}
		}
	}

	.scrollToContainer {
		margin-bottom: 25px;
		button {
			margin: auto;
			@media screen and (min-width: $breakpoint-md) {
				margin: 0;
			}
		}
	}

	.warning_info {
		margin: 0;
		font-weight: 400;
		font-size: 0.8rem;
		color: #9e9e9e;
	}
}
