.orange_box {
	// max-width: 550px;
	width: 100%;
	max-height: 665px;
	// min-height: 400px;
	padding: 40px;
	background: linear-gradient(156.15deg, #eaa434 6.33%, #ea5c34 93.01%);
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	//transform: translate3d(0px, -500px, 0px);
	// gap: 300px;

	@media screen and (max-width: 890px) {
		min-height: 400px;

		max-width: 558px;
	}
	@media screen and (max-width: 450px) {
		padding: 20px;
	}
}
.header_main_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	padding-top: 150px;
	gap: 110px;
	padding-left: 20px;
	padding-right: 20px;

	@media screen and (max-width: 1077px) {
		gap:80px;
	}
	@media screen and (max-width: 500px) {
	padding-top: 70px;
		gap: 60px;
	}
}
.main_content_horizontal {
	scroll-snap-align: center;
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1200px;
	// max-height: 670px;
	justify-content: space-between;
	gap: 30px;

	@media screen and (max-width: 890px) {
		scroll-padding: 1em;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		max-width: 900px;
	}
}
.orange_box_text {
	font-style: normal;
	font-weight: 700;
	font-size: 5.3rem;
	line-height: 100%;
	color: #ffffff;

	@media screen and (max-width: 1160px) {
		font-size: 4rem;
	}
	@media screen and (max-width: 890px) {
		font-size: 3.5rem;

	}
	@media screen and (max-width: 400px) {
		font-size: 3.1rem;

	}
}
.white_box {
	//max-width: 550px;
	width: 100%;
	min-height: 665px;
	// max-height: 665px;
	height: 100%;
	background: #f1f2f4;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	padding: 40px;
	z-index: 2;

		.white_box_horizontal{
			display: flex;
			flex-direction: column;
			gap: 20px;

		}
	@media screen and (max-width: 1000px) {
		gap: 0;
		min-height: 565px;
	}

	@media screen and (max-width: 890px) {
		justify-content: space-between;
		max-width: 558px;
		min-height: 400px;
		gap: 0;


		.white_box_headline {
			font-size: 6rem;
			margin-bottom: 20px;
		}
		.white_box_paragraph {
			margin-top:20px ;
			margin-bottom: 30px;
		}
	}
	@media screen and (max-width: 450px) {
		padding: 20px;
		.white_box_headline {
			font-size: 6rem;
			margin-bottom: 0;
		}
		.white_box_paragraph {
			margin-top: 10px;
		}
	}
	@media screen and (max-width: 355px) {

		.white_box_headline {
			font-size: 4.5rem;
			margin-bottom: 10px;
		}
	}
}
.blue_box {
	// max-width: 588px;
	// width: 100%;
	min-height: 665px;
	// max-height: 665px;
	// height: 100%;
	background: linear-gradient(144.74deg, #3c7dbe 5.23%, #1a3652 95.63%);
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	padding: 40px;
	z-index: 2;

	@media screen and (max-width: 1000px) {
		gap: 0;
		min-height: 565px;
	}
	@media screen and (max-width: 890px) {
		max-width: 558px;
		width: 100%;
		min-height: 400px;

	}
	@media screen and (max-width: 450px) {
		padding: 20px;
	}
}
.blue_box_text{
	font-style: normal;
	font-weight: 700;
	font-size: 7rem;
	line-height: 100%;
	color: #FFFFFF;
	@media screen and (max-width: 1077px){
		font-size: 5rem;
	}@media screen and (max-width: 890px){
		font-size: 3.8rem;
	}
}
.white_box_headline {
	font-style: normal;
	font-weight: 800;
	font-size: 9rem;
	line-height: 100%;
	letter-spacing: -0.04em;

	background: radial-gradient(50% 50% at 50% 50%, #eb5629 0%, #ed7d30 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	margin-bottom: 30px;

	@media screen and (max-width: 1217px) {
		font-size: 6rem;
	}
	@media screen and (max-width: 912px) {
		font-size: 5rem;
	}
}
.white_box_secondary {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 100%;
	color: #323438;
	@media screen and (max-width: 1000px) {
		font-size: 2rem;
	}
}
.white_box_paragraph {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 130%;
	color: #323438;
	@media screen and (max-width: 1000px) {
		font-size: 1rem;
	}
}
.header_main_content_headline {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 5rem;
	line-height: 100%;
	color: #323438;
	//transform: translate3d(0px,-500px,0px);
	z-index: 1;


	@media screen and (max-width: 1077px) {
		font-size: 3.25rem;
	}
	@media screen and (max-width: 900px) {
		font-size: 2.8rem;
	}
	@media screen and (max-width: 890px) {
		font-size: 2.4rem;
	}
}
.white_box_timer_headline{
	font-family: inherit;
	font-size: 4.25rem;
	font-weight: 900;
	color: #323438;
	margin-top: 20px;
}
.white_box_timer {
	position: relative;
	background-color: #f1f2f4;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// max-height: 665px;
	max-width: 558px;
	width: 100%;
	padding: 40px;
	overflow: hidden;
z-index: 2;


	@media screen and (max-width: 890px) {
		min-height: 400px;
		max-width: 558px;
		height: 100%;

		.white_box_timer_headline{
			font-size: 3.25rem;
			font-weight: 800;
			color: #323438;
			margin-top: 20px;
		}
	}
	@media screen and (max-width: 450px) {
		padding: 20px;
		.white_box_timer_headline{
			font-size: 2.5rem;
			font-weight: 800;
			color: #323438;
			margin-top: 20px;
		}
		.white_box_timer_span{
			font-weight: 700;
		}
	}
}
.white_box_timer_icon{
	position: absolute;
	max-width: 371.36px;
	width: 100%;
	//left: 0;
	right: -20%;
	top: 40%;
	bottom: 0;
	transform: rotate(-30deg);
	z-index: 2;

	@media screen and (max-width: 890px) {
		top: 10%;
	}
}
