section {
	background: #16191d;
	z-index: 10;
}
.merch-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 18px 140px 18px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (max-width: 1077px) {
		padding: 40px 18px 70px 18px;
	}
	@media screen and (max-width: 500px) {
		padding: 40px 18px 40px 18px;
	}
}
.merch-headline {
	font-style: normal;
	font-weight: 800;
	font-size: 7rem;
	line-height: 100%;
	text-align: center;
	color: #d6d6d7;
	margin-top: -450px;

	@media screen and (max-width: 1077px) {
		font-weight: 800;
		font-size: 5rem;
	}
	@media screen and (max-width: 890px) {
		font-size: 3.5rem;
	}
	@media screen and (max-width: 600px) {
		font-size: 3rem;
	}
}
.merch-paragraph {
	font-style: normal;
	font-weight: 800;
	font-size: 6rem;
	line-height: 100%;
	text-align: center;
	background: linear-gradient(180deg, #d6d6d7 0%, #393b3e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	margin-bottom: 55px;
	@media screen and (max-width: 1077px) {
		font-weight: 700;
		font-size: 5rem;
	}
	@media screen and (max-width: 890px) {
		font-size: 3.5rem;
	}
	@media screen and (max-width: 600px) {
		font-size: 3rem;
	}
}
.merch-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 45px;
}
.merch-icon {
	width: 80px;
	height: 80px;

	@media screen and (max-width: 900px) {
		width: 60px;
		height: 60px;
		margin-bottom: 5px;
	}
	@media screen and (max-width: 500px) {
		width: 40px;
		height: 40px;
	}
}
